<!-- Store this code in 'login.html' file inside the 'templates' folder -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login Page</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--===============================================================================================-->
        <link
            rel="icon"
            type="image/png"
            href="{{ url_for('static', filename='ext/images/icons/favicon.ico') }}"
        />
        <!--===============================================================================================-->
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='ext/vendor/bootstrap/css/bootstrap.min.css') }}"
        />
        <!--===============================================================================================-->
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='ext/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}"
        />
        <!--===============================================================================================-->
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='ext/vendor/animate/animate.css') }}"
        />
        <!--===============================================================================================-->
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='ext/vendor/css-hamburgers/hamburgers.min.css') }}"
        />
        <!--===============================================================================================-->
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='ext/vendor/select2/select2.min.css') }}"
        />
        <!--===============================================================================================-->
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='ext/css/util.css') }}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='ext/css/main.css') }}"
        />
        <!--===============================================================================================-->
    </head>
    <body>
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100 items-center">
				
                    <div class="login100-pic js-tilt" data-tilt>
                        <img
                            src="{{ url_for('static', filename='ext/images/img-01.png') }}"
                            alt="IMG"
                        />
                    </div>
                    <div class="login100-form">
                        
                        </form>

                        <div class="container-login100-form-btn">
                            <span class="login100-form-title">
                                Login Page
                            </span>
                            <a
                                class="btn btn-primary btn-block"
                                href="{{url_for('facereg')}}"
                                role="button"
                            >
                                Login With Face
                            </a>
                        </div>

                        <div class="text-center p-t-86">
                            <!-- <a class="txt2" href="https://github.com/renol767">
                                Created By renol767
                                <i
                                    class="fa fa-long-arrow-right m-l-5"
                                    aria-hidden="true"
                                ></i>
                            </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--===============================================================================================-->
        <script src="{{ url_for('static', filename='ext/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
        <!--===============================================================================================-->
        <script src="{{ url_for('static', filename='ext/vendor/bootstrap/js/popper.js') }}"></script>
        <script src="{{ url_for('static', filename='ext/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
        <!--===============================================================================================-->
        <script src="{{ url_for('static', filename='ext/vendor/select2/select2.min.js') }}"></script>
        <!--===============================================================================================-->
        <script src="{{ url_for('static', filename='ext/vendor/tilt/tilt.jquery.min.js') }}"></script>
        <script>
            $(".js-tilt").tilt({
                scale: 1.1,
            });
        </script>
        <!--===============================================================================================-->
        <script src="{{ url_for('static', filename='ext/js/main.js') }}"></script>
    </body>
</html>
